# The Battle of Neighborhoods

### Introduction

Opening a new Iranian restaurant in Delhi.

### Business Problem

To find a suitable location to establish a food business where the competition of similar type of cuisine is non existent or minimal. And to analyse the districts and locations to spot a location to setup the restaurant.

### Source

https://en.wikipedia.org/wiki/List_of_districts_in_India

In [9]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Shitij\Downloads\capstonedataset.xlsx')
df.head()

,Code,District,Headquarters,Polulation (2011),Area (km^2),Density (/km^2)
0,CD,Central Delhi,Daryaganj,582320,25,27730
1,ED,East Delhi,Preet Vihar,1709346,440,27132
2,ND,New Delhi,Connaught Place,142004,22,4057
3,NE,North East Delhi,Seelampur,2241624,52,36155
4,NO,North Delhi,Sadar Bazaar,887978,59,14557